<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Online Bus</title>
    <link href="../../Content/style.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/onlinebus.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/jquery-ui-1.8.2.custom/css/cupertino/jquery-ui-1.8.2.custom.css"
        rel="stylesheet" type="text/css" />

    <script src="../../Content/jquery-1.4.2.js" type="text/javascript"></script>

    <script src="../../Content/jquery-ui-1.8.2.custom/js/jquery-ui-1.8.2.custom.min.js"
        type="text/javascript"></script>

    <script src="../../Content/curvycorners.src.js" type="text/javascript"></script>

    <script src="../../Content/script.js" type="text/javascript"></script>

    <script src="../../Content/action-script.js" type="text/javascript"></script>

    <script type="text/javascript">
        //        $(function() {
        //            $("#txtDepartDate").datepicker();
        //        });
        //        $(function() {
        //            $("button", ".button").button();
        //            $("button", ".button").click(function() {
        //                alert("button");
        //                return false;
        //            });
        //        });
    </script>

</head>
<body onload="initCorners();">
    <div id="banner">
        <div id="header">
            <p class="topText">
                SRC <span>T</span>ravel <span>A</span>gencies</p>
            <div id="smallTxt" style="width: 50%; height: 20px; margin: 95px 10px auto auto;
                float: right; text-align: right">
                Help Line : +84-169-295-2191,(6:30AM - 10:30 PM, Mon - Sat).</div>
        </div>
        <div id="top_menu">
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Agent Registration</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="#">Cancellation</a></li>
                <li><a href="#">My booking</a></li>
                <li><a href="#">Destinations</a></li>
            </ul>
        </div>
    </div>
    <!-- Region CONTENT CENTER  -->
    <div id="body">
        <!-- LEFT CONTENT -->
        <div id="left">
            <div id="left2">
                <p class="pic2">
                </p>
                <p class="boxTxt2">
                    <span>Time lower</span><b>Time is gold!</b>,Online Bus ticket booking help you saving
                    your time</p>
                <br class="spacer" />
            </div>
            <div id="left3">
                <p class="pic3">
                </p>
                <p class="boxTxt3">
                    <span>How is different?</span> How is travel Book <strong>bus tickets</strong> "live".
                    No request booking
                    <br />
                    Largest bus ticket inventory for 5000+ bus routes.
                    <br />
                    Pay only bus ticket price.
                    <br />
                    No additional charge.
                    <br />
                    Return bus ticket booking and cancellation facility</p>
                <br class="spacer" />
            </div>
            <br class="spacer" />
        </div>
        <!-- LEFT CONTENT -->
        <div id="right">
            <div id="homeleft">
                <div class="searchtop">
                    <div id="bookformtitle">
                        <h2>
                            SEARCH BUSES</h2>
                    </div>
                </div>
                <div class="searchmid">
                    <table style="width: 100%" cellspacing="10">
                        <tr>
                            <td colspan="2">
                                Bus Search :
                                <input type="radio" checked="checked" value="V1" name="rblRoundTrip" id="rblRoundTrip_0"
                                    title="Select if one way (no return journey) booking needed" />
                                One Way
                                <input type="radio" value="V1" name="rblRoundTrip" id="rblRoundTrip_1" title="Select if return journey booking needed" />
                                Round Trip
                            </td>
                        </tr>
                        <tr>
                            <td>
                                From:&nbsp;
                            </td>
                            <td>
                                To:&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select class="comboNC" style="width: 100%" name="D1">
                                    <option value="48" selected="selected">Ha noi</option>
                                    <option value="203">Hue</option>
                                    <option value="203">Hai Phong</option>
                                    <option value="203">Da Nang</option>
                                    <option value="203">Tp.Ho Chi Minh</option>
                                </select>
                            </td>
                            <td>
                                <select class="comboNC" style="width: 100%" name="D2">
                                    <option value="48">Ha noi</option>
                                    <option value="203">Hue</option>
                                    <option value="203">Hai Phong</option>
                                    <option value="203" selected="selected">Da Nang</option>
                                    <option value="203">Quang Ninh</option>
                                    <option value="203">Tp.Ho Chi Minh</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Depart:&nbsp;
                            </td>
                            <td>
                                Return:&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" style="width: 100%;" readonly="readonly" class="textbox" title="Departure Date"
                                    id="txtDepartureDate" name="txtDepartureDate" />
                            </td>
                            <td>
                                <input type="text" style="width: 100%;" readonly="readonly" class="textbox" title="Return Date"
                                    id="txtReturnDate" name="txtReturnDate" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <div class="button">
                                    <button id="Search">
                                        Search Buses</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="searchbot">
                </div>
            </div>
        </div>
        <br class="spacer" />
    </div>
    <!-- END Region CONTENT CENTER  -->
    <!-- Region BOTTOM -->
    <div id="bodyBottom">
        <div id="news">
            <h2>
                Latest News</h2>
            <!-- LAY THOI GIAN HE THONG -->
            <h3>
                On 23rd May 2010</h3>
            <!-- KET THUC LAY THOI GIAN HE THONG -->
            <!-- NOI DUNG TIN TUC -->
            <p>
                <span>Book bus tickets "live". No request booking.Book bus tickets "live". No request
                    booking</span>quam. um ante ipsum primis in faucibus orci luctus et ultrices
                posuere cubilia Curae; Nam adipiscing</p>
            <p>
                <span>Largest bus ticket inventory for 5000+ bus routes</span>Donec nec urna, praesent
                risus phasellustincidunt eu volutpat</p>
            <p>
                <span>Largest bus ticket inventory for 5000+ bus routes</span>Donec nec urna, praesent
                risus phasellustincidunt eu volutpat.Largest bus ticket inventory for 5000+ bus
                routes</span>Donec nec urna, praesent risus phasellustincidunt eu volutpat</p>
            <!-- KET THUC NOI DUNG TIN TUC -->
            <br class="spacer" />
        </div>
        <div id="service">
            <h2>
                New Services Overview</h2>
            <h3>
                Finantial Services</h3>
            <ul>
                <!-- NOI DUNG DICH VU MOI -->
                <li><a href="#">Book bus tickets "live". No request booking.</a></li>
                <li><a href="#">Largest bus ticket inventory for 5000+ bus routes.</a></li>
                <li><a href="#">Pay only bus ticket price. No additional charge.</a></li>
                <li><a href="#">Return bus ticket booking and cancellation facility.</a></li>
                <li><a href="#">Return bus ticket booking and cancellation facility.</a></li>
                <!-- KET THUC NOI DUNG DICH VU MOI -->
            </ul>
            <br class="spacer" />
        </div>
        <div id="member">
            <h2>
                Member Login</h2>
            <form action="#" method="post" name="member_log_in" id="member_log_in">
            <label>
                Name:</label>
            <input type="text" name="name" class="txtBox" />
            <label>
                Password:</label>
            <input type="password" name="name2" class="txtBox" />
            <a href="#">A registered member?</a>
            <div class="button">
                <button id="Login">
                    Go</button>
            </div>            
            <br class="spacer" />
            </form>
            <br class="spacer" />
        </div>
        <br class="spacer" />
    </div>
    <!-- END Region BOTTOM -->
    <!-- Region FOOTER  -->
    <div id="footer">
        <ul>
            <li><a href="#">Home</a>|</li>
            <li><a href="#">About Us</a>|</li>
            <li><a href="#">Contact Us</a>|</li>
            <li><a href="#">Term & Condition</a>|</li>
            <li><a href="#">Privacy Policy</a>|</li>
            <li><a href="#">Communication</a>|</li>
            <li><a href="#">Why Choose Us</a>|</li>
            <li><a href="#">News</a>|</li>
        </ul>
        <p class="copyright">
            &copy; Online Bus. All rights reserved.</p>
        &nbsp;
        <p class="design">
            Designed By : <a href="#">C0708M.Team II - FPT.Aptech</a></p>
    </div>
    <!-- END Region FOOTER  -->
</body>
</html>
