#a_MainResult
{
	width: 955px;
	 border: solid 1px #36809d;
	 float: left; 
	 padding: 10px;
	 background-color: #64aeca;
}
#a_TopHeaderResult
{
	 width: 100%; 
	 height: 30px; 
	 border: solid 1px #36809d;
     background-color: White;
}
#a_about
{
	 padding: 5px; 
	 font-weight: bold;
}
#a_BodyResult
{
	 width: 100%; 
	 height: 300px; 
	 border: solid 1px #36809d;
     background-color: White; margin-top: 3px;
}
#a_wrapper
{
	 width:100%;float:left;
}
/*phan css cho trang search detail*/
#s_MainResult
{
	 width:75%;
	 border:solid 1px #36809d;
	 float:left;
	 padding: 10px;
	 background-color:#64aeca;
}
#s_TopHeaderResult
{
	 width:100%;
	 height:30px;
	 border: solid 1px #36809d;
	 background-color:White;
}
#s_depart
{
	 padding: 5px;
	 font-weight:bold;
}
#s_BodyResult
{
	 width:100%;
	 height:300px;
	 border: solid 1px #36809d;
	 background-color:White;
	 margin-top: 3px;
}
#s_title1
{
	 width: 20%; 
	 float: right; 
	 padding: 5px;
}
#s_tblMenuRight
{
	 width: 100%;
	 float:right; 
	 border: solid 1px #b9b99d; 
	 margin-right: 5px;
}
#s_MenuTitle
{
	 height: 30px; 
	 padding: 10px 15px 10px 15px; 
	 background-color: #347c95;
     font-size: 15pt; 
     color: White; 
     font-weight: bold; 
     text-align: center;
}
/*ket thuc phan css trang search detail*/