/* Can chinh form tim kiem*/
#homeleft {
    float:right;
    width:553px;
}
#bookformtitle h2{
    padding-left:60px;
    padding-top:18px;
    font-size: 12pt;
    color: White;
}
.searchtop {
    background:url("images/form_searchtop.jpg") no-repeat scroll left top transparent;
    height:51px;
    margin:0;
    padding:0;
    width:553px;
}
.searchmid {
    background:url("images/form_searchmid.jpg") repeat-y scroll left top transparent;
    margin:0;
    padding:18px 40px 15px 48px;
    width:465px;
}
.searchbot {
    background:url("images/form_searchbot.jpg") no-repeat scroll left top transparent;
    height:27px;
    margin:0;
    padding:0;
    width:553px;
}
/* Ket thuc can chinh form tim kiem*/