<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title></title>
    <style type="text/css">
        
    </style>
</head>
<body>
    <table style="width: 100%; border: solid 1px #36809d" cellpadding='5' cellspacing='10'>
        <tr>
            <td rowspan="4">
                &nbsp; &nbsp; &nbsp;
            </td>
            <td>
                &nbsp;<input id="Checkbox1" type="checkbox" />
                1
            </td>
            <td>
                &nbsp;<input id="Checkbox2" type="checkbox" />
                2
            </td>
            <td>
                &nbsp;<input id="Checkbox3" type="checkbox" />
                3
            </td>
            <td>
                &nbsp;
                <input id="Checkbox4" type="checkbox" />
                4
            </td>
        </tr>
        <tr>
            <td colspan="4">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;<input id="Checkbox5" type="checkbox" />
                5
            </td>
            <td>
                &nbsp;<input id="Checkbox6" type="checkbox" />
                6
            </td>
            <td>
                &nbsp;<input id="Checkbox7" type="checkbox" />
                7
            </td>
            <td>
                &nbsp;
                <input id="Checkbox8" type="checkbox" />
                8
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;<input id="Checkbox9" type="checkbox" />
                9
            </td>
            <td>
                &nbsp;<input id="Checkbox10" type="checkbox" />
                10
            </td>
            <td>
                &nbsp;<input id="Checkbox11" type="checkbox" />
                11
            </td>
            <td>
                &nbsp;
                <input id="Checkbox12" type="checkbox" />
                12
            </td>
        </tr>
    </table>
</body>
</html>
